@import "utils/vars";
@import "utils/mixins";
//@import "utils/fonts";
//@import "utils/base";

*, *:after, *:before {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: roboto, helvetica, arial, sans-serif;
}

//@import "../css/style.scss";
@import "popup/style.scss";
@import "accordion/style.scss";
@import "form-main/style.scss";


@import "contacts/style.scss";
@import "page/style.scss";