.popup-footer-advantage {
  display: flex;

  @media (max-width: 767px) {
    display: block;
  }

  &__question {
    flex-shrink: 0;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    width: 50%;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
      width: 100%;
      margin: 0 0 25px;

      & br {
        display: none;
      }
    }
  }

  &__answer {
  }
}

.advantage-list {
  &__item {
    position: relative;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 20px;
    color: #fff;
    font-weight: bold;
    padding: 0 0 0 40px;

    &:last-child {
      margin: 0;
    }

    &:before {
      content: '\2713';
      position: absolute;
      top: -3px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #fff;
      background: #6fc794;
      border-radius: 100%;
    }
  }
}